@import '../../../App'

.modal-services-container
    position: fixed
    z-index: 10
    top: 5%
    left: 5%
    bottom: 5%
    right: 5%
    max-width: 700px
    margin: 0 auto
    background-color: white
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.65)
    text-align: center
    overflow: auto

    .modal-x-container
        text-align: right
        margin: 10px 35px 0 0

        .modal-x
            position: fixed
            cursor: pointer
            color: $primary-color

    .modal-services
        padding: 15px
        max-width: 600px
        margin: 0 auto

        .modal-services-title
            font-family: Muli
            font-weight: bold
            font-size: 28px
            color: $black
            margin: 40px auto 0 auto

        .modal-services-title-image
            margin-top: 40px
            width: 100%

        .modal-services-buttons
            margin-top: 30px

            .selected
                background-color: $primary-color
                width: 90px
                outline: none
                border: 1px solid $primary-color
                border-radius: 4px
                color: white
                cursor: pointer
                text-transform: unset
                font-weight: 300
                margin: 5px

                &:hover
                    background-color: $hover-color

            .not-selected
                background-color: white
                width: 90px
                outline: none
                border: 1px solid $primary-color
                border-radius: 4px
                color: $primary-color
                cursor: pointer
                text-transform: unset
                font-weight: 300
                margin: 5px

                &:hover
                    background-color: rgba(77, 184, 184, 0.2)
                    color: $primary-color

        .modal-description
            margin-top: 40px

            p
                font-family: Roboto
                font-size: 14px
                line-height: 23px
                color: $black
                text-align: left

            .modal-description-title
                font-size: 20px
                font-family: Roboto
                font-weight: bold
                margin: 40px 0
                color: $black
                text-align: left

        .modal-services-button-link
            text-decoration: none

            .modal-services-button
                margin: 40px 0 0 0
                text-transform: unset
                font-size: 16px
                background-color: $primary-color
                border-radius: 4px
                border: none
                color: white
                padding: 12px 66px

                &:hover
                    background-color: $hover-color

    .overlay-bottom
        position: sticky
        left: 0
        bottom: 0
        height: 100px
        width: 100%
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
