@import '../../App'

.who
    max-width: 850px
    margin: 0 auto
    padding: 60px 12px 0 12px

    .title
        color: $black
        font-family: Muli
        font-weight: bold
        font-size: 30px
        text-align: center

    .description
        color: $black
        font-family: Roboto
        line-height: 23px
        margin-top: 40px

@media only screen and (min-width: 768px)
    .who
        padding: 120px 20px

        .description
            margin-top: 60px

@media only screen and (min-width: 1200px)
    .who
        padding: 120px 0

        .title
            font-size: 40px
